spring:
  application:
    name: profile-service
  data:
    mongodb:
      database: profile_service
      auto-index-creation: true

server:
  port: 8085



management:
  endpoints:
    web:
      exposure:
        include: health,info
